<h2>Usuarios</h2>
<ng-container>
  <div class="d-flex justify-content-end">
    <button (click)="openDialog()" mat-button color="primary">Agregar</button>
  </div>
  
  <table mat-table [dataSource]="users$" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef appTitleSize> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef appTitleSize> Nombre Completo </th>
      <td mat-cell *matCellDef="let element"> {{ element.firstName}} {{ element.lastName}} </td>
    </ng-container>
    
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef appTitleSize> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef appTitleSize> Contraseña </th>
      <td mat-cell *matCellDef="let element"> {{element.password}} </td>
    </ng-container>
  
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef appTitleSize> Rol </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>
  
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef appTitleSize> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef appTitleSize> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="openDialog(element)" mat-icon-button color="accent">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="onDelete(element.id)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>
