<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div>
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email" />
    <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
      <small *ngIf="loginForm.get('email')?.errors?.['required']">El email es obligatorio</small>
      <small *ngIf="loginForm.get('email')?.errors?.['email']">El email debe ser valido como email</small>
    </div>
  </div>
  
  <div>
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password" />
    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
      <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria</small>
    </div>
  </div>

  <button type="submit">Login</button>
</form>

