.navbar-container {
  width: 100%;
  height: 100vh;
}

 .sidenav {
  min-width: 200px;
  background-color: cadetblue;
}
 
 .sidenav-content {
   display: flex;
   background-color: azure;
 }

.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
}

.color-sidenav, .color-toolbar {
  color:aliceblue;  
}