<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer [opened]="!isMobile()" class="example-sidenav"  [mode]="isMobile() ? 'over' : 'side'">
    @if (showFiller) {
      <mat-list class="d-flex align-items-center">
        <mat-icon color="primary" class="mr-2">work</mat-icon>
        <a mat-list-item href="">Cursos</a>
      </mat-list>
      <mat-list class="d-flex align-items-center">
        <mat-icon color="primary" class="mr-2">perm_identity</mat-icon>
        <a mat-list-item href="">Profesores</a>
      </mat-list>
      <mat-list class="d-flex align-items-center">
        <mat-icon color="primary" class="mr-2">perm_identity</mat-icon>
        <a mat-list-item href="">Alumnos</a>
      </mat-list>
    }
    <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
      <mat-icon>list</mat-icon>
    </button> -->
  </mat-drawer>

  <div class="example-sidenav-content">

    <mat-toolbar color="primary">
      <mat-toolbar-row class="toolbar">
        <button
        (click)="drawer.toggle()"
        mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Universidad de Naboo</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <main style="padding: 1rem">
    <div class="d-flex">
      <button (click)="login()" mat-flat-button>Iniciar sesión</button>
      <button (click)="ngOnDestroy()" mat-flat-button>Cerrar sesión</button>
      @if (authUser$ | async) {
        <div>{{ (authUser$ | async)?.firstName}}</div>
      }
    </div>
    <input type="text" placeholder="Filtrar por nombre" #filterInput (input)="filterUsers(filterInput.value)">
    <ul>
      <li *ngFor="let user of filteredUsers$ | async">{{ user.firstName }} - {{ user.email }}</li>
    </ul>
    <app-students />
  </main>

</mat-drawer-container>

